body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h5 {
    margin: 0.5em 0;
}

#wrapper {
    display: flex;
    width: 80%;
    align-self: center;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.btn-container {
    height: 100%;
    align-items: center;
    display: flex;
}

.btn-container > a {
    text-decoration: none;
    border: 1px solid rgb(0, 162, 239);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 15px;
}

.edit-btn {     
    color: rgb(0, 162, 239);
}

.add-btn {
    color: rgb(255, 255, 255); 
    background-color:  rgb(0, 162, 239);
    font-weight: bold;
    margin-left: 10px;
}

.add-btn > i {
    margin-right: 5px; 
}

.capitalize {
    text-transform: uppercase;
}

main {
    flex-direction: column;
}

.main-navigation {
    margin-top: 2em; 
    border-bottom: 5px solid rgb(0, 162, 239);
    display: flex;
    height: 26px;
}

main > nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
}

main > nav ul > li {
    margin: 0 5px 0 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

.main-navigation > ul > li > a {
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(255, 255, 255);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.main-navigation > ul > li > a:hover {
    background-color: rgb(0, 162, 239);
    border-bottom: 1px solid rgb(0, 162, 239);
}

.secondary-navigation {
    margin: 5px;
    display: flex;
}

.secondary-navigation > ul > li > a > i {
    font-size: 1.5em;
    margin-right: 5px; 
    color:  rgb(128, 200, 227);
}

.secondary-navigation > ul > li > a > i:hover {
    color: rgb(0, 144, 198);
}

.articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article {
    display: flex;
    flex: 1;
}

.article-search {
    display: flex;
    flex-direction: column;
}

.search-type {
    font-weight: bold;
    font-size: 12px;
}

.red, .error {
    color: rgb(255, 0, 0);
}

.category-search > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.category-search > div.detailed-search > div {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}

.category-search > div.detailed-search > div > a {
    margin-left: 5px;
    color: rgb(0, 162, 239);
}

.category-search > div > div:nth-child(even) {
    margin-left: 10px;
}

.category-search > div.condition-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.category-search > div.condition-container > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px 0 0 0;
}

.category-search {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid rgb(0, 162, 239);
    border-top:  3px solid rgb(0, 162, 239);
    padding: 10px;
    font-size: 12px;
}

.category-search > div {
    margin-top: 7px;
    display: flex;
    flex-direction: row; /*todo switch based on media query*/
    justify-content: space-between;
}

.category-search > div.category-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-search > div.category-container > div.category-selector-container {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.category-search > div.category-container > .icon-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    height: 33px;
}

.icon {
    font-size: 2em;
    color: rgb(0, 162, 239);
}

.btn-search {
    font-size: 14px;
    height: 36px;
    width: 145px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

.news-area {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.no-decoration {
    text-decoration: none;
}

.news-area > h5 > a {
    color: rgb(0, 0, 0);
}

.news {
    border-bottom: 1px solid rgb(0, 162, 239);
    border-top:  3px solid rgb(0, 162, 239);
}

.hot-hot-news {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

.hot-hot-news p {
    font-weight: bold;
}

.hot-hot-news a {
    color: rgb(0, 0, 0);
}

.hot-hot-news img {
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
    margin: 10px 0 0 40px;
}

.hot-news {
    list-style-type: square;
    color: rgb(151, 150, 150);
    border-top: 1px solid rgb(151, 150, 150);
}

.hot-news > li > a {
    color: rgb(151, 150, 150);
    font-size: 13px;
    line-height: 15px;
}

.hot-news > li > a:hover {
    text-decoration: underline;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
}

.entrance {
    margin-left: 30px;
    margin-top: 1.7em;
}

.entrance-container {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;

}

.entrance-container > div {
    display: flex;
    flex-direction: row;
}

.users-entrance {
    border: 1px solid  rgb(151, 150, 150);
    width: 29vw;
}

.users-entrance > p {
    margin-top: 0px;
    color: rgb(65, 60, 60);
    background-color: rgb(182, 178, 178);
    padding-bottom: 5px; 
    text-align: center;
}

.registration-container {
    display: flex;
    flex-direction: column;
}

.entry-reg-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.entrance-btn {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 51, 102);
    font-weight: bold;
    padding: 5px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.transitioned-right {
    transform: scaleX(-1);
}

.cars-container {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.ad-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.ad-container > h5 {
    align-self: center;
}

.last-ad-container {
    border-top: 5px solid rgb(0, 162, 239);
    display: flex;
    padding: 10px 0;
}

.ad-edit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }

  #overlay div {
    display: flex;
  }

  #overlay input[type=text],  #overlay input[type=password] {
      width: 100%;
  }

  .tablink {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
  }

.overlay-container {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    flex-direction: column;
}

.overlay-navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.tabcontent {
    color: rgb(0, 0, 0);
    display: none;
    padding: 40px 20px;
    height: 100%;
    flex-direction: column;
}

.data {
    padding: 5px;
    margin: 5px 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);  
}

#login-form > div > a {
    color: rgb(0, 162, 239);
}

#login-btn, #register-btn {
    cursor: pointer
}

.submit-btn-container {
    justify-content: center;
}

.btn-style {
    background-color: rgb(0, 162, 239);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid  rgb(0, 162, 239);
    padding: 10px 15px;
}

#register-form div:not(.agree-container) {
    flex-direction: column;
}

.important-message, .error {        
    font-size: 0.75em;
}

.agree-container {
    margin: 10px 0px;
}

#priceContainer {
    flex-direction: row;
}

.last-ad-container {
    display: flex;
    flex-direction: column;
}

.last-ad-container > section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img {
    height: 160px;
    width: 250px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover; 
    margin-right: 20px;
    border-radius: 5px;
}

#boxes {
    width: 1100px;
    margin-top: 10px;
    margin-bottom: 10px;

}

div#flags {
    width: 100%;
    flex-direction: row;
}

div#flags label {
    float: left;
    width: 100%;
}

div#flags div {
    width: 300px;
    float: left;
}

#copyright{
    float:right;
    margin-right: 5px;
}

#necessary-links{
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(0, 162, 239);
    margin-top: 10px;
    padding:3px;
    
}

#necessary-links > a{
    color: white;
    margin-left:3px;
    text-decoration: none;
}

#main-categories {
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    border-top:5px solid rgb(0, 162, 239);
    flex:left;
    
}

#main-categories > button {
    background-color: lightgrey; 
    border: none;
    color: black;
    padding:10px;
    text-align: center;
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    border-radius: 5px;
<<<<<<< Updated upstream
    cursor: pointer;
}

.ads-part {
    padding-bottom: 10px;
}

.ads-part div {
    display: flex;
    align-items: flex-start;
}

.ads-part > div {
    flex-direction: row;
    flex: 1;
}

.ad-vechicle-info {
    flex-direction: column;
    align-items: flex-start;
}

.ad-vechicle-info > p {
    margin: 6px 0;
}

.car-name {
    margin-top: 0;
    font-weight: bold;
=======
}

#search{
    width:400px;
    height: 50px;
    border-radius: 5px;
    right:0;
    bottom:0;
    float: right;
}

.category-container-search {
    display: flex;
    flex-direction: row;
    flex:1;

}

.category-search{
    flex-direction: column;
    flex:1;
>>>>>>> Stashed changes
}