body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

#wrapper {
    margin: 2em auto;
    width: 80%;

}

.btn-container {
    float: right;
}

.btn-container > a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgb(0, 162, 239);
    border-radius: 5px;
    padding: 5px 15px;
}

.edit-btn {     
    color: rgb(0, 162, 239);
    float: left;
    margin-right: 1em;
}

.add-btn {
    color: rgb(255, 255, 255); 
    background-color:  rgb(0, 162, 239);
    font-weight: bold;
}

.add-btn > i {
    margin-right: 5px; 
}

.capitalize {
    text-transform: uppercase;
}

.main-navigation {
    margin-top: 2em; 
    border-bottom: 5px solid rgb(0, 162, 239);
}

main > nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main > nav ul > li {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.main-navigation > ul > li > a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(255, 255, 255);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.main-navigation > ul > li > a:hover {
    background-color: rgb(0, 162, 239);
    border-bottom: 1px solid rgb(0, 162, 239);
}

.secondary-navigation {
    margin: 5px;
}

.secondary-navigation > ul > li > a > i {
    font-size: 1.5em;
    margin-right: 5px; 
    color:  rgb(128, 200, 227);
}

.secondary-navigation > ul > li > a > i:hover {
    color: rgb(0, 144, 198);
}

article {
    display: inline-block;
}

select {
    width: 128px;
}

#category {
    width: 172px;
}

.category-search {
    border: 1px solid rgb(0, 162, 239);
    border-top:  3px solid rgb(0, 162, 239);
    display: inline-block;
    padding: 5px;
    font-size: 12px;
}

.category-search > div {
    margin-top: 7px;
}

.icon {
    position: absolute;
    font-size: 2em;
    top: 259px;
    left: 365px;
    color: rgb(0, 162, 239);
}

.search-type {
    font-weight: bold;
    display: block;
    font-size: 12px;
}

.red {
    color: rgb(255, 0, 0);
}

.category-search > div > div {
    display: inline-block;
    width: 49%;
}

.btn-search {
    margin-left: 40px;
}

.news-area {
    margin-left: 30px;
    width: 26vw;
}

.no-decoration {
    text-decoration: none;
}

.news-area > h5 > a {
    color: rgb(0, 0, 0);
}

.news {
    border-bottom: 1px solid rgb(0, 162, 239);
    border-top:  3px solid rgb(0, 162, 239);
}

.hot-hot-news {
    padding-left: 10px;
}

.hot-hot-news > p {
    font-weight: bold;
    display: inline-block; 
    width: 30%;  
}

.hot-hot-news > p > a {
    color: rgb(0, 0, 0);
}

.hot-hot-news > img {
    width: 8vw;
    display: inline-block;
    margin-left: 40px;
}

.hot-news {
    list-style-type: square;
    color: rgb(151, 150, 150);
    border-top: 1px solid rgb(151, 150, 150);
}

.hot-news > li > a {
    color: rgb(151, 150, 150);
    font-size: 11px;
}

.hot-news > li > a:hover {
    text-decoration: underline;
}