<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mobile.bg</title>
    <link rel="stylesheet" href="../assets/css/font-awesome.css" />
    <link rel="stylesheet" href="../assets/libraries/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <script src="../assets/libraries/handlebars-v4.1.0.js"></script>
    <script src="../assets/libraries/jQuery.js"></script>
    <script src="../model/storage.js"></script>
    <script src="../model/availableCarsStorage.js"></script>
    <script src="../controler/cars.js"></script>
    <script src="../controler/user.js"></script>
</head>

<body>
    <div id="wrapper">
        <header>
            <div class="logo-container">
                <img class="logo" src="../assets/images/logo.gif" alt="logo">
            </div>
            <div class="btn-container">
                <a class="edit-btn" href="#">Редакция на обява</a>
                <a class="add-btn capitalize" href="#">
                    <i class="fas fa-plus"></i>Добави обява</a>
            </div>
        </header>
        <main>
            <nav class="main-navigation">
                <ul>
                    <li>
                        <a href="#">Начало</a>
                    </li>
                    <li>
                        <a href="../view/publication.html">Публикуване</a>
                    </li>
                    <li>
                        <a href="../view/razshirenoTursene.html">Търсене</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://fakti.bg/avto">Новини</a>
                    </li>
                </ul>
            </nav>
            <nav class="secondary-navigation">
                <ul>
                    <li>
                        <a href="#" data-category="cars">
                            <i class="fas fa-car-side cars"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-category="trucks">
                            <i class="fas fa-truck trucks"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-category="motorcycles">
                            <i class="fas fa-motorcycle motorcycles"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-category="bicycles">
                            <i class="fas fa-bicycle bicycles"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="articles">
                <article class="article-search">
                    <h5>Търсене в
                        <span id="search-title">Автомобили и Джипове</span>
                    </h5>
                    <form action="">
                        <div class="category-search">
                            <div class="category-container">
                                <div class="category-selector-container">
                                    <label for="category" class="search-type">Основна Категория</label>
                                    <select name="category" id="category">
                                        <option selected value="cars">Автомобили и Джипове</option>
                                        <option value="trucks">Камиони</option>
                                        <option value="motorcycles">Мотоциклети</option>
                                        <option value="bicycles">Велосипеди</option>
                                    </select>
                                </div>
                                <div class="icon-container">
                                    <i class="fas fa-car-side icon"></i>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label for="make" class="search-type">Марка</label>
                                    <select name="make" id="make">
                                        <option value="all" selected>всички</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="model" class="search-type">Модел</label>
                                    <select name="model" id="model">
                                        <option value="all" selected>всички</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label for="max-price" class="search-type">Максимална цена</label>
                                    <input id="max-price" type="text" size="15" maxlength="7" />
                                </div>
                                <div>
                                    <label for="year" class="search-type">Година</label>
                                    <select name="year" id="year">
                                        <option value="all">всички</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <div class="engine-container">
                                    <label for="engine" class="search-type">Двигател</label>
                                    <select name="engine" id="engine">
                                        <option value="all" selected>всички</option>
                                        <option value="petrol">Бензинов</option>
                                        <option value="diesel">Дизелов</option>
                                        <option value="electric">Електрически</option>
                                        <option value="hybrid">Хибриден</option>
                                    </select>
                                </div>
                                <div style="display: none" class="city-container">
                                    <label for="city" class="search-type">Местоположение</label>
                                    <select name="city" id="city">
                                        <option value="all" selected>всички</option>
                                    </select>
                                </div>
                                <div class="gearbox-container">
                                    <label for="gearbox" class="search-type">Скоростна кутия</label>
                                    <select name="gearbox" id="gearbox">
                                        <option value="all" selected>всички</option>
                                        <option value="manual">Ръчна</option>
                                        <option value="authomatic">Автоматична</option>
                                        <option value="semi-authomatic">Полуавтоматична</option>
                                    </select>
                                </div>
                                <div style="display: none" class="gear-container">
                                    <label for="gear" class="search-type">Скорости</label>
                                    <select name="gear" id="gear">
                                        <option value="all" selected>всички</option>
                                    </select>
                                </div>
                            </div>
                            <div class="condition-container">
                                <div>
                                    <label for="" class="search-type">Състояние</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="state-new" id="state-new">
                                    <label for="state-new" class="red">Нов</label>
                                    <input type="checkbox" name="state-used" id="state-used">
                                    <label for="state-used" class="red">Употребяван</label>
                                    <input type="checkbox" name="state-apart" id="state-apart">
                                    <label for="state-apart" class="red">На части</label>
                                </div>
                            </div>
                            <div class="detailed-search">
                                <div>
                                    »
                                    <a href="../view/razshirenoTursene.html">Подробно търсене</a>
                                </div>
                                <button class="btn-search capitalize">Търси</button>
                            </div>
                        </div>
                    </form>
                </article>
                <article class="news-area">
                    <h5>
                        <a class="no-decoration" target="_blank" rel="noopener noreferrer" href="https://fakti.bg/">Новини от Факти.bg</a>
                    </h5>
                    <div class="news">
                        <div class="hot-hot-news">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <p>
                                            <a class="no-decoration" target="_blank" rel="noopener noreferrer" href="https://fakti.bg/bulgaria/359162-balgarski-politici-na-molitvena-zakuska-pri-tramp">Български политици на закуска при Тръмп</a>
                                        </p>
                                        <img class="d-block w-100" src="../assets/images/news1.jpg" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <p>
                                            <a class="no-decoration" target="_blank" rel="noopener noreferrer" href="https://fakti.bg/bulgaria/359162-balgarski-politici-na-molitvena-zakuska-pri-tramp">Обир като във филм в сърцето на Белгия</a>
                                        </p>
                                        <img class="d-block w-100" src="../assets/images/news2.jpg" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <p>
                                            <a class="no-decoration" target="_blank" rel="noopener noreferrer" href="https://fakti.bg/bulgaria/359162-balgarski-politici-na-molitvena-zakuska-pri-tramp">Уволниха инспектор на тол управлението</a>
                                        </p>
                                        <img class="d-block w-100" src="../assets/images/news3.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <p>
                                            <a class="no-decoration" target="_blank" rel="noopener noreferrer" href="https://fakti.bg/bulgaria/359162-balgarski-politici-na-molitvena-zakuska-pri-tramp">Луксозните имоти в София достигнаха ръст от 6%</a>
                                        </p>
                                        <img class="d-block w-100" src="../assets/images/news4.jpg" alt="Fourth slide">
                                    </div>
                                    <div class="carousel-item">
                                        <p>
                                            <a class="no-decoration" target="_blank" rel="noopener noreferrer" href="https://fakti.bg/bulgaria/359162-balgarski-politici-na-molitvena-zakuska-pri-tramp">
                                                Очаква се Mazda2 да се преврне в Toyota Yaris</a>
                                        </p>
                                        <img class="d-block w-100" src="../assets/images/news5.jpg" alt="Fifth slide">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="hot-news">
                            <li>
                                <a class="no-decoration" target="_blank" rel="noopener noreferrer" href="https://fakti.bg/bulgaria/359162-balgarski-politici-na-molitvena-zakuska-pri-tramp">Български политици на молитвена закуска при Тръмп</a>
                            </li>
                            <li>
                                <a class="no-decoration" target="_blank" rel="noopener noreferrer" href="https://fakti.bg/world/359215-obir-kato-vav-film-v-sarceto-na-belgia">Обир като във филм в сърцето на Белгия</a>
                            </li>
                            <li>
                                <a class="no-decoration" target="_blank" rel="noopener noreferrer" href="https://fakti.bg/bulgaria/359833-balgarskoto-selsko-stopanstvo-umira">Уволниха инспектор на тол управлението, минал на червено</a>
                            </li>
                            <li>
                                <a class="no-decoration" target="_blank" rel="noopener noreferrer" href="https://fakti.bg/imoti/359168-luksoznite-imoti-v-sofia-s-rast-ot-6">Луксозните имоти в София с ръст от 6%</a>
                            </li>
                            <li>
                                <a class="no-decoration" target="_blank" rel="noopener noreferrer" href="https://fakti.bg/avto/359213-mazda2-se-prevrashta-v-toyota-yaris">Mazda2 се превръща в Toyota Yaris</a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="entrance">
                    <div class="users-entrance">
                        <p>Вход за потребители и дилъри</p>
                        <div class="entrance-container">
                            <div class="entry-reg-container">
                                <div class="registration-container">
                                    <a href="#" onclick="openPage('registration', document.getElementById('register-tab'), 'black')">
                                        <strong>Нова регистрация</strong>
                                    </a>
                                    <p style="margin: 0">
                                        <em>(отнема само 2 мин.)</em>
                                    </p>
                                </div>
                                <a id="entry-btn" class="entrance-btn capitalize" href="#" onclick="openPage('entry', document.getElementById('login-tab'), 'black')">Вход</a>
                            </div>
                            <div style="display: none" class="logged-user-data">
                                <p>You are logged in with
                                    <span id="logged-username"></span>!</p>
                            </div>
                            <div class="ad-edit">
                                <div>
                                    <i class="fas fa-edit"></i>
                                    <a style="color: black" href="">Редакция на обява</a>
                                </div>
                                <a style="display: none;" href="#" id="log-out">log out</a>
                            </div>
                            <div class="cars-container">
                                <img width="180" src="../assets/images/bmw.png" alt="bmw" />
                                <img class="transitioned-right" width="180" src="../assets/images/bmw.png" alt="bmw" />
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="ad-container">
                <h5>Най-новите обяви за Автомобили и Джипове</h5>
                <article class="last-ad-container">
                    <section class="ads-part">
                        <div>
                            <div style="background-image: url('../assets/images/audi-a5.jpg')" class="img"></div>
                            <div>
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                        <div>
                            <div style="background-image: url('../assets/images/bmw-x3.jpg')" class="img"></div>
                            <div>
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                    </section>
                    <section class="ads-part">
                        <div>
                            <div style="background-image: url('../assets/images/citroen-c3.jpg')" class="img"></div>
                            <div>
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                        <div>
                            <div style="background-image: url('../assets/images/ferrari-testarossa.jpg')" class="img"></div>
                            <div>
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                    </section>
                    <section class="ads-part">
                        <div>
                            <div style="background-image: url('../assets/images/volkswagen-polo.jpg')" class="img"></div>
                            <div>
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                        <div>
                            <div style="background-image: url('../assets/images/hyundai-accent.jpg')" class="img"></div>
                            <div>
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </main>
        <footer>
            <div>
                <div id="main-categories">
                <p style=" margin-bottom: 5px;">Основни категории в mobile.bg</p>
                <button id="cars">Автомобили и джипове</button>
                <button id="trucks">Камиони</button>
                <button id="motorcycles">Мотоциклети</button>
                <button id="bicycles">Велосипеди</button>
            </div>
            <div id="necessary-links">
                <a target="_blank" href="https://rezonmedia.bg/">Резон Медия</a>
                &nbsp;|&nbsp;
                <a target="_blank" href="https://www.imot.bg/">Имоти</a>
                &nbsp;|&nbsp;
                <a target="_blank" href="https://www.zaplata.bg/">Работа</a>
                &nbsp;|&nbsp;
                <a target="_blank" href="https://bazar.bg/">Обяви</a>
                <span id="copyright">2019 ® Copyright Martin&Yanitsa</span>
            </div>
            </div>
        </footer>
    </div>
    <div id="overlay">
        <div class="overlay-container">
            <div class="overlay-navigation">
                <button id="login-tab" class="tablink" onclick="openPage('entry', this, 'black')">Вход</button>
                <button class="tablink" onclick="openPage('registration', this, 'black')" id="register-tab">Регистрация</button>
                <button id="overlay-close-btn" class="overlay-close-btn">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div id="entry" class="tabcontent">
                <h4>Вход с Email и парола:</h4>
                <form id="login-form" action="">
                    <p class="error"></p>
                    <div>
                        <input id="username" class="data" name="user" type="text" placeholder="Email или Username (за Дилъри)" />
                    </div>
                    <div>
                        <input id="password" class="data" name="pass" type="password" placeholder="Парола" />
                    </div>
                    <div class="agree-container">
                        <input id="remember-me" name="remember" value="remember" type="checkbox" />
                        <label style="font-size: 13px" for="remember-me">Запомни ме</label>
                        <a style="font-size: 13px; margin-left: 5px" href="">Забравена парола?</a>
                    </div>
                    <div class="submit-btn-container">
                        <button id="login-btn" class="btn-style">Вход с Email</button>
                    </div>
                </form>
            </div>
            <div id="registration" class="tabcontent">
                <h4>Регистрация с Email и парола:</h4>
                <form id="register-form" action="">
                    <div id="email-container">
                        <input id="email" class="data" name="email" type="text" placeholder="Email" />
                        <p class="error"></p>
                    </div>
                    <div id="password-container">
                        <p class="red important-message">Паролата трябва да съдържа малка, голяма буква, число и да е минимум 8 символа!</p>
                        <input id="pass" class="data" name="user-pass" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Парола"
                        />
                        <p class="error"></p>
                    </div>
                    <div id="repeat-pass-container">
                        <input id="repeat-pass" class="data" name="repeat-pass" type="password" placeholder="Повтори паролата" />
                        <p class="error"></p>
                    </div>
                    <div class="agree-container">
                        <input id="agree" name="agreed" value="agreed" type="checkbox" />
                        <label style="font-size: 13px" for="agree">Съгласен съм с общите условия</label>
                    </div>
                    <div class="submit-btn-container">
                        <button id="register-btn" class="btn-style">Регистрация с Email</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../assets/libraries/overlay.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>