<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mobile.bg</title>
    <link rel="stylesheet" href="../assets/css/font-awesome.css" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
</head>
<body>
    <div id="wrapper">
        <header>
            <img src="../assets/images/logo.gif" alt="logo">
            <div class="btn-container">
                <a class="edit-btn" href="">Редакция на обява</a>
                <a class="add-btn" href=""><i class="fas fa-plus"></i>Добави обява</a>
            </div>
        </header>
        <main>
            <nav class="main-navigation">
                <ul>
                    <li><a href="">Начало</a></li>
                    <li><a href="">Публикуване</a></li>
                    <li><a href="">Търсене</a></li>
                    <li><a href="">Новини</a></li>
                </ul>
            </nav>
        </main>
        <footer>

        </footer>
    </div>
</body>
</html>