<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mobile.bg</title>
    <link rel="stylesheet" href="../assets/css/font-awesome.css" />
    <link rel="stylesheet" href="../assets/libraries/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <script src="../assets/libraries/handlebars-v4.1.0.js"></script>
    <script src="../assets/libraries/jQuery.js"></script>
    <script src="../model/storage.js"></script>
    <script src="../model/availableCarsStorage.js"></script>
    <script src="../controler/cars.js"></script>
    <script src="../model/properties.js"></script>
    <script src="../controler/getPublication.js"></script>
</head>

<body>
    <div id="wrapper">
        <header>
            <div class="logo-container">
                <img class="logo" src="../assets/images/logo.gif" alt="logo">
            </div>
            <div class="btn-container">
                <a class="edit-btn" href="">Редакция на обява</a>
                <a class="add-btn capitalize" href="">
                    <i class="fas fa-plus"></i>Добави обява</a>
            </div>
        </header>
        <main>
            <nav class="main-navigation">
                <ul>
                    <li>
                        <a href="../view/index.html">Начало</a>
                    </li>
                    <li>
                        <a href="../view/Publish.html">Публикуване</a>
                    </li>
                    <li>
                        <a href="../view/Search.html">Търсене</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://fakti.bg/avto">Новини</a>
                    </li>
                </ul>
            </nav>
            <table id="boxes">
                <tr>
                    <td>
                        <span style="border: 1px solid black;
                        padding: 5px;font-size: 0.8em;"> 1.Публикуване на текстта</span>
                        <img src="../assets/images/nav_arrow.gif">
                        <span style="border: 1px solid black;
                        padding: 5px;font-size: 0.8em;"> 2.Преглед на текстта</span>
                        <img src="../assets/images/nav_arrow.gif">
                        <span style="border: 1px solid black;
                        padding: 5px;font-size: 0.8em;"> 3.Добавяне на снимки и видео</span>
                        <img src="../assets/images/nav_arrow.gif">
                        <span style="border: 1px solid black;
                        padding: 5px;font-size: 0.8em;"> 4.Преглед на обявата</span>
                    </td>
                    <td>
                        <span style="border: 1px solid black;
                        padding: 5px;font-size: 0.8em;">Изтриване на обявата</span>
                    </td>

                </tr>
            </table>
            <div class="articles">
                <article class="article-search">
                    <h5>Търсене в MOBILE.BG -
                        <span id="search-title">Автомобили и Джипове</span>
                    </h5>
                    <form id="specialform" action="">
                        <div class="category-search">
                            <div class="category-container-search">
                                <div class="category-selector-container">
                                    <label for="category" class="search-type">Основна Категория</label>
                                    <select name="category" id="category">
                                        <option selected value="cars">Автомобили и Джипове</option>
                                        <option value="trucks">Камиони</option>
                                        <option value="motorcycles">Мотоциклети</option>
                                        <option value="bicycles">Велосипеди</option>
                                    </select>
                                </div>
                                <div class="icon-container">
                                    <i class="fas fa-car-side icon"></i>
                                </div>
                            </div>
                            <div class="category-container-search">
                                <div>
                                    <label for="make" class="search-type">Марка</label>
                                    <select name="make" id="make">
                                        <option value="all" selected>всички</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="model" class="search-type">Модел</label>
                                    <select name="model" id="model">
                                        <option value="all" selected>всички</option>
                                    </select>
                                </div>
                                &nbsp;&nbsp;&nbsp;
                                <div>
                                    <label for="modification" class="search-type">Модификация</label>
                                    <input id="modification" type="text">
                                </div>
                                <div class="engine-container">
                                    <label for="engine" class="search-type">Двигател</label>
                                    <select name="engine" id="engine">
                                        <option value="all" selected>всички</option>
                                        <option value="petrol">Бензинов</option>
                                        <option value="diesel">Дизелов</option>
                                        <option value="electric">Електрически</option>
                                        <option value="hybrid">Хибриден</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="" class="search-type">Състояние</label>

                                    <div>
                                        <input type="checkbox" class="state" text="Нов" name="state-new" id="state-new">
                                        <label for="state-new" class="red">Нов</label>
                                        <input type="checkbox" class="state" text="Употребяван" name="state-used"
                                            id="state-used">
                                        <label for="state-used" class="red">Употребяван</label>
                                        <input type="checkbox" class="state" text="На части" name="state-apart"
                                            id="state-apart">
                                        <label for="state-apart" class="red">На части</label>
                                    </div>
                                </div>

                            </div>
                            <div class="category-container-search">
                                <div>
                                    <label for="power" class="search-type">Мощност</label>
                                    <input id="power" type="text">
                                </div>
                                <div>
                                    <label for="eurostandart" class="search-type">Евростандарт</label>
                                    <select name="eurostandart" id="eurostandart">
                                        <option value="none" selected></option>
                                        <option value="euro1">Евро1</option>
                                        <option value="euro2">Евро2</option>
                                        <option value="euro3">Евро3</option>
                                        <option value="euro4">Евро4</option>
                                        <option value="euro5">Евро5</option>
                                        <option value="euro6">Евро6</option>
                                    </select>
                                </div>
                                &nbsp;&nbsp;&nbsp;
                                <div class="gearbox-container">
                                    <label for="gearbox" class="search-type">Скоростна кутия</label>
                                    <select name="gearbox" id="gearbox">
                                        <option value="all" selected>всички</option>
                                        <option value="manual">Ръчна</option>
                                        <option value="authomatic">Автоматична</option>
                                        <option value="semi-authomatic">Полуавтоматична</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="seats" class="search-type">Брой места</label>
                                    <input id="numberSeats" type="text">
                                </div>
                            </div>
                            <div class="category-container-search">
                                <div>
                                    <label for="price" class="search-type">Цена</label>
                                    <input id="price" type="text">
                                </div>
                                <div>
                                    <label for="currency" class="search-type">Валута</label>
                                    <select name="currency" id="currency">
                                        <option value="none" selected></option>
                                        <option value="lv">Лв.</option>
                                        <option value="usd">USD</option>
                                        <option value="euro">EUR</option>
                                    </select>
                                </div>
                                &nbsp;&nbsp;&nbsp;
                                <div>
                                    <label for="dateOfProduction" class="search-type">Дата на производство</label>
                                    <input id="ProductionDate" type="text">
                                </div>
                                <div>
                                    <label for="kilometres" class="search-type">Пробег(в хил. километри)</label>
                                    <input id="kilometres" type="text">
                                </div>
                            </div>
                            <div class="category-container-search">
                                <div>
                                    <label for="color" class="search-type">Цвят</label>
                                    <input id="color" type="text">
                                </div>
                                <div>
                                    <label for="country" class="search-type">Държава</label>
                                    <input id="country" type="text">
                                </div>
                                &nbsp;&nbsp;&nbsp;
                                <div>
                                    <label for="city" class="search-type">Град</label>
                                    <input id="city" type="text">
                                </div>
                                <div>
                                    <label for="validFor" class="search-type">Валидност на обявата</label>
                                    <select name="validFor" id="validFor">
                                        <option value="35" selected>35 дни</option>
                                        <option value="49">49 дни</option>
                                    </select>
                                </div>
                            </div>
                            <div class="category-container-search">
                                <div id="flags"></div>
                            </div>
                        </div>
                        <div class="category-container-search">
                            <div>
                                <label for="Info" class="search-type"> Допълнителна информация </label>
                                <textarea id="moreInformation" cols="36" name="f24" rows="10" wrap="virtual"
                                    maxlength="5500" class="sw300">
                                </textarea>
                                <p>Моля, не пишете телефони в това поле!
                                    Ако желате да публикувате повече от един телефон в обявата си, направете я VIP или
                                    ТОП.</p>
                            </div>
                            <div>
                                <label for="Info" class="search-type"> Вашите данни за обратна връзка </label>
                                <form id="register-form" action="">
                                    <label for="Phone" class="search-type"> Phone Number</label>

                                    <input id="phone" type="text" placeholder="Phone" />

                                    <label style="margin-top: 5px" for="Email" class="search-type"> Email </label>

                                    <input id="email" type="email" placeholder="Email" />
                                </form>

                            </div>
                            <div id="ready-to-publish">
                                <form action="/action_page.php">
                                    <input type="file" name="pic" accept="image/*">
                                    <input type="submit">
                                </form>
                                <label>
                                    <input type="checkbox" name="chkcond" value="1"> Съгласен съм с <a
                                        href="https://www.mobile.bg/pcgi/mobile.cgi?act=9&mode=4" class="iconLinks"
                                        target="_blank">условията за ползване на сайта</a> и <a
                                        href="https://www.mobile.bg/pcgi/mobile.cgi?act=9&mode=6" class="iconLinks"
                                        target="_blank">Политиката за защита на личните данни</a>
                                </label>
                                <button id="publish">Публикувай текстта</button>
                            </div>
                        </div>
                    </form>
                </article>
            </div>
        </main>
        <footer>
            <div>
                <div id="main-categories">
                    <p style=" margin-bottom: 5px;">Основни категории в mobile.bg</p>
                    <button id="cars">Автомобили и джипове</button>
                    <button id="trucks">Камиони</button>
                    <button id="motorcycles">Мотоциклети</button>
                    <button id="bicycles">Велосипеди</button>
                </div>
                <div id="necessary-links">
                    <a target="_blank" href="https://rezonmedia.bg/">Резон Медия</a>
                    &nbsp;|&nbsp;
                    <a target="_blank" href="https://www.imot.bg/">Имоти</a>
                    &nbsp;|&nbsp;
                    <a target="_blank" href="https://www.zaplata.bg/">Работа</a>
                    &nbsp;|&nbsp;
                    <a target="_blank" href="https://bazar.bg/">Обяви</a>
                    <span id="copyright">2019 ® Copyright Martin&Yanitsa</span>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>